body {
    margin: 0;
    padding: 30px;
}

.title {
    color: greenyellow;
}

.description {
    color: green; 
}

.center {
    width: 100%;
    text-align: center;
}

.center-tag {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.parent {
    width: 100%;
}